{% extends "index.html" %}

{% block navlink %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
            <a class="nav-link" href="{{ url_for('create_project') }}">New Project</a>
        {% endif %}
    </div>
</div>
<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% if current_user.is_authenticated %}
          <a class="nav-link me-auto" href="{{ url_for('account') }}">Account</a>
          <a class="nav-link me-4" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a class="nav-link me-auto" href="{{ url_for('login') }}">Login</a>
          <a class="nav-link me-4" href="{{ url_for('signup') }}">Signup</a>
        {% endif %}
    </div>
</div>
{% endblock navlink %}

{% block main %}
<body>
    <div class="container m-5">
        <div class="row">
            <div class="col-12">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="row mb-4"><h2>{{ issue.description }}</h2></div>
                            <div class="row"><h4>Details</h4></div>
                            <div class="row"><p>{{ issue.details }}</p></div>
                        </div>
                        <div class="row">
                            <div class="row"><h4>Updates</h4></div>
                            {% if updates %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Date Updated</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in updates %}
                                        <tr>
                                            <th scope="row">{{ i.id }}</th>
                                            <td>{{ i.details }}</td>
                                            <td>{{ i.date_posted }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No updates have been submitted at this time.</p>
                            {% endif %}
                        </div>
                        <form method="POST" action="" class="col-8">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group m-4">
                                <legend class="border-bottom mb-4"><h5>Provide an Update</h5></legend>
                                <div class="form-group">
                                    <div class="col">
                                        {{ form.update.label(class="form-control-label") }}
                                        {% if form.update.errors %}
                                            {{ form.update(class="form-control form-control-md is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.update.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                        {% else %}
                                            {{ form.update(class="form-control form-control-md") }}
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form.state.label(class="form-control-label") }}
                                            {{ form.state(class="form-control form-control-md") }}
                                        </div>
                                        <div class="col">
                                            {{ form.priority.label(class="form-control-label") }}
                                            {{ form.priority(class="form-control form-control-md") }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group text-center">
                                {{ form.submit(class="btn btn-lg btn-warning col-4") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock main %}