{% extends "index.html" %}

{% block navlink %}
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
            <a class="nav-link" href="{{ url_for('create_project') }}">New Project</a>
        {% endif %}
    </div>
</div>
<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% if current_user.is_authenticated %}
          <a class="nav-link me-auto" href="{{ url_for('account') }}">Account</a>
          <a class="nav-link me-4" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a class="nav-link me-auto" href="{{ url_for('login') }}">Login</a>
          <a class="nav-link me-4" href="{{ url_for('signup') }}">Signup</a>
        {% endif %}
    </div>
</div>
{% endblock navlink %}

{% block main %}
<body>
    <div class="container col-12 m-5">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <h2>{{ project.name }}</h2>
                {% if project.issues %}
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Ticket Number</th>
                        <th scope="col">Description</th>
                        <th scope="col">Priority</th>
                        <th scope="col">State</th>
                        <th scope="col">Date Reported</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for bug in project.issues %}
                        <tr class="clickable" onclick="window.location='{{ url_for('bug', project_id=project.id, issue_id=bug.ticket_number) }}'">
                            <th scope="row">{{ bug.ticket_number }}</th>
                            <td>{{ bug.description }}</td>
                            <td>{{ bug.priority }}</td>
                            <td>{{ bug.state }}</td>
                            <td>{{ bug.date_posted }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No ~features~ (bugs) have been reported at this time!</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-warning col-2 m-5" href="{{ url_for('report_bug', project_id=project.id) }}">Report Bug</a>
        {% if admin %}
        <a class="btn btn-warning col-2 m-5" href="{{ url_for('add_teammate', project_id=project.id) }}">Add Teammate</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger col-2 m-5" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete Project
        </button>
        {% endif %}
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this project?</p>
                    
                    <strong>*This action cannot be undone.*</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('delete_project', project_id=project.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock main %}