{% extends "index.html" %}

{% block navlink %}
<div class="navbar-nav">
    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
    <a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Login</a>
    <a class="nav-link" aria-current="page" href="{{ url_for('signup') }}">Sign Up</a>
</div>
{% endblock navlink %}

{% block main %}
<body class="align-content-center">
    <div class="container">
        <div class="row text-center text-danger">
            <h1>This is the home page. Do something with it.</h1>
        </div>
        <div class="row text-center text-warning">
            <h1>Your next project management solution!</h1>
        </div>
        <div class="row text-center text-success">
            <h1>Get Shit Done.</h1>
        </div>
    </div>
</body>
{% endblock main %}