{% extends "base.html" %}

{% block main %}

<link href="../static/login.css" rel="stylesheet">

<body class="text-center">
    <main class="form-signin">
        <form>
            <img class="mb-4" src="https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/853733e21304525.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
</body>
{% endblock main %}